<ion-tab-bar>
  <ion-tab-button [routerLink]="['/budgets']" routerLinkActive="tab-selected" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon name="download-outline"></ion-icon>
    <ion-label>Budgets</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/history']" routerLinkActive="tab-selected" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon name="swap-horizontal-outline"></ion-icon>
    <ion-label>History</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/dashboard']" routerLinkActive="tab-selected" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon name="grid-outline"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/rules']" routerLinkActive="tab-selected" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon name="funnel-outline"></ion-icon>
    <ion-label>Rules</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/settings']" routerLinkActive="tab-selected" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon name="settings-outline"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-tab-button>
</ion-tab-bar>
